@use '../variables' as *;

.btn {
  background-color: $button-color;
 
  padding: 1.5rem 5rem;
  border-radius: 30px;
  border: none; 
  color: $primary-color;
  font-size: 2rem;
  width: auto;
  max-width: 250px;
  font-weight: bold;
  cursor: pointer;  
  text-align: center;
  line-height: 2rem;
  width: 100%; 
  // max-width: 250px; 
  box-sizing: border-box;
    
  
}

.btn:hover {
  background-color: $button-hover-color;  
}