// Colors

$primary-color: #ffff;
$button-color: #fcabac;
$button-hover-color: #ffb7c0;
$primary-font-color: #030303;
$second-font-color: #8b8b8b;

// Fonts size
$font-size-h1: 4rem;
$font-size-h2:3rem;
$font-size-h3:2.5rem;
$font-size-p:1rem;

// Fonts family
$font-family: 'Quicksand', sans-serif;
